 .result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #cecece;
  }

 .flex{
    display: flex;
    flex-direction: row;
  }
  
  .head {
    text-align: left;
    margin: 50px;
    width: 150px;
  }
  
  .bold {
    align-items: flex-end;
    text-align: right;
    color: yellow;
  }
  
  .start .btn {
    padding: .2em 1.7em;
    border: none;
    border-radius: .1em;
    font-size: 1.2em;
    color: #202020;
    text-decoration: none;
    background-color: #faff5a;
    margin-bottom: 20px;
}
.btn:hover {
    background-color: white;
}
table {
    width: 100%;
    margin-top: 10px;
}

.table-header {
    color: #cecece;
    font-size: 1.1em;
    text-align: center;
    background: #212121;
    padding: 18px 0;
}

.table-body {
    font-size: 0.9em;
    text-align: center;
    background: #d8d8d8;
    padding: 18px 0;
    color: #202020;
}

.table-header > tr > td{
    border: 1px solid #faff5a;   
}